/* Type & Color
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.neuton {font-family: "Neuton", serif;}
.neuton.light {font-weight: 300;}
.light_grey {color: #9B9B9B;}

/* Grids
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.vertical_center {position: relative; top: 50%; transform: translateY(-50%);}

/* Layout & Helpers
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.align_center {text-align: center;}
/* Listado en Archivo + Categoría */
li.four.columns.no_initial_margin {margin-right: 2%; !important}

/* Header & Menu
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#header {text-align: center;}
#header h2 {margin-top: 1.2rem; margin-bottom: 1.2rem;} /* Main title */
#header #menu {
	border-top: 1px solid #DEDEDE;
	border-bottom: 1px solid #DEDEDE;
	position: relative;
	z-index: 2;
}
#menu ul {	position: relative; top: 20px;}
#menu ul li {	display: inline; padding: 0 10px; font-size: 14px;}
#menu ul li.active {font-weight: bold;}

#nav-trigger {display: none; text-align: center;}
#nav-trigger span {
	display: inline-block;
	padding: 10px 30px;
	background-color: white;
	cursor: pointer;
	border: 1px solid #DEDEDE;
}

#nav-trigger span:hover {
	background-color: #efefef;
}
#nav-trigger span.open:after {
	border-left: solid 10px transparent;
	border-top: none;
	border-bottom: solid 10px #fff;
	border-right: solid 10px transparent;
}

nav#nav-mobile {
	position: relative;
	display: none;
	z-index: 3;
}
nav#nav-mobile ul {
	display: none;
	list-style-type: none;
	position: absolute;
	left: 15%;
	right: 15%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: white;
	border: solid 1px #DEDEDE;
}
nav#nav-mobile li {
	display: block;
	padding: 5px 0;
	margin: 0 5px;
	border-bottom: solid 1px #DEDEDE;
}
nav#nav-mobile li:last-child {border-bottom: none;}
nav#nav-mobile a {display: block; padding: 10px 30px; }
nav#nav-mobile a:hover {background-color: #efefef;}

/* Home
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#home_banner {
	padding-top: 20px;
	margin-bottom: 60px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#home_banner .container {
	padding: 20px 0;
	min-height: 560px;
}
#home_banner .home_banner_text {
	position: relative;
	top: 60px;
	line-height: 1.2em;
}
#home_banner .home_banner_text p {margin-bottom: 0px;}

#home_banner .signature {text-align: right;}
.home_banner_signature {position: relative; top: 100px;}

/* Contact Form
–––––––––––––––––––––––––––––––––––––––––––––––––– */
form p {margin-bottom: 0}
form input, form textarea {width: 100%}
form textarea {min-height: 100px;}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#footer {margin-top: 100px;}

#footer .go_up {
	border-top: 1px solid #DEDEDE;
	border-bottom: 1px solid #DEDEDE;
	text-align: center;
	padding: 20px;
	margin-bottom: 60px;
}

#footer div.row img {margin-bottom: 20px;}

#footer .copyright { text-align: center; margin: 60px 0;}

/* Posts Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.post_list li {	list-style: none; text-align: center; position: relative;}
.post_list p.category {
	display: inline;
	position: relative;
	top:10px;
	z-index: 2;
	border: 2px solid white;
	font-size: 14px;
	font-weight: 700;
	padding: 10px 20px;
	background-color: #D6FFAA;
}

/* Single Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page_content {
	position: relative;
	background-color: white;
	padding: 0px 80px 60px 80px;
}

.page_content img, .page_content p img {
	width: 100%;
	height: auto;
}

/* Single Post
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#single_post_body {
	margin-top: 60px;
}
.post_content {
	position: relative;
	top: -100px;
	background-color: white;
	padding: 0px 80px 60px 80px;
}

.post_content img,
.post_content p img {
	width: 100%;
	height: auto;
}

.single_post_meta {	text-align: center;}

.single_post_meta > p.category {
	display: inline;
	position: relative;
	top:-10px;
	z-index: 2;
	border: 2px solid white;
	font-size: 14px;
	font-weight: 700;
	padding: 10px 20px;
	background-color: #D6FFAA;
}

.social_share {
	border: 2px solid #EFEFEF;
	padding: 30px 20px;
	text-align: center;
}
.social_share a {
	color: white;
	font-weight: bold;
	padding: 10px 20px;
	border-radius: 5pt;
	display: inline-block;
	margin: 0 10px 20px 10px;
}

.social_facebook {background-color: #3A589E;}
.social_pinterest {background-color: #CB2126;}
.social_twitter {background-color: #2ab2f5;}

blockquote {font-size: 18px;	-webkit-margin-start: 0;}
img.u-full-width {height: initial;}

/* Category Template
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.category_banner { margin-top: 60px; margin-bottom: 60px;}
.category_banner .row {height: 500px;}
#category_image {
	background-size: cover;
	height: 500px;
}
.category_meta {text-align: center; height: 100%; padding: 0 20px;}
.archive_meta p { text-transform: uppercase; color: #747474; font-weight: bold; margin-top: -30px;}
