/* Type & Color
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.neuton {font-family: "Neuton", serif;}
.neuton.light {font-weight: 300;}
.light_grey {color: #9B9B9B;}

/* Grids
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.vertical_center {position: relative; top: 50%; transform: translateY(-50%);}

/* Layout & Helpers
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.align_center {text-align: center;}
/* Listado en Archivo + Categoría */
li.four.columns.no_initial_margin {margin-right: 2%; !important}

/* Header & Menu
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#header {text-align: center;}
#header h2 {margin-top: 1.2rem; margin-bottom: 1.2rem;} /* Main title */
#header #menu {border-top: 1px solid #DEDEDE; border-bottom: 1px solid #DEDEDE;}
#menu ul {	position: relative; top: 20px;}
#menu ul li {	display: inline; padding: 0 10px; font-size: 14px;}
#menu ul li.active {font-weight: bold;}

/* Home
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#home_banner {
	padding-top: 20px;
	margin-bottom: 60px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#home_banner .container {
	padding: 20px 0;
	min-height: 560px;
}

#home_banner h1, #home_banner p {
	background-color: rgba(255, 255, 255, .5);
	padding: 0 5px;
}

/* Contact Form
–––––––––––––––––––––––––––––––––––––––––––––––––– */
form p {margin-bottom: 0}
form input, form textarea {width: 100%}
form textarea {min-height: 100px;}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#footer {margin-top: 100px;}

#footer .go_up {
	border-top: 1px solid #DEDEDE;
	border-bottom: 1px solid #DEDEDE;
	text-align: center;
	padding: 20px;
	margin-bottom: 60px;
}

#footer .copyright { text-align: center; margin: 60px 0;}

/* Posts Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.post_list li {	list-style: none; text-align: center; position: relative;}
.post_list p.category {
	display: inline;
	position: relative;
	top:10px;
	z-index: 2;
	border: 2px solid white;
	font-size: 14px;
	font-weight: 700;
	padding: 10px 20px;
	background-color: #D6FFAA;
}

/* Single Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page_content {
	position: relative;
	background-color: white;
	padding: 0px 80px 60px 80px;
}

/* Single Post
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#single_post_body {
	margin-top: 60px;
}
.post_content {
	position: relative;
	top: -100px;
	background-color: white;
	padding: 0px 80px 60px 80px;
}

.single_post_meta {	text-align: center;}

.single_post_meta > p.category {
	display: inline;
	position: relative;
	top:-10px;
	z-index: 2;
	border: 2px solid white;
	font-size: 14px;
	font-weight: 700;
	padding: 10px 20px;
	background-color: #D6FFAA;
}

.social_share {
	border: 2px solid #EFEFEF;
	padding: 30px 20px;
	text-align: center;
	width: 100%;
}
.social_share a {	color: white;	font-weight: bold; padding: 10px 20px; border-radius: 5pt;}
.social_share a:first-child {margin-right: 20px;}

.social_facebook {background-color: #3A589E;}
.social_pinterest {background-color: #CB2126;}

blockquote {font-size: 18px;	-webkit-margin-start: 0;}
img.u-full-width {height: initial;}

/* Category Template
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.category_banner { margin-top: 60px; margin-bottom: 60px;}
.category_banner .row {height: 500px;}
#category_image {
	background-size: cover;
	height: 500px;
}
@media (max-width: 400px) {
	#category_image {height: 200px;}
	.category_banner .row {height: 120px;}
}
.category_meta {text-align: center; height: 100%; padding: 0 20px;}
.archive_meta p { text-transform: uppercase; color: #747474; font-weight: bold; margin-top: -30px;}
