
@media (max-width: 600px) {

	/* Posts */
	.post_content.ten.columns {padding: 0 0 60px 0;}
	.page_content.ten.columns {padding: 0 0 60px 0;}
	#single_post_body .featured_image {min-height: 340px;}

	/* Categories */
	#category_image {height: 200px; background-position: center;}
	.category_banner .row {height: 120px;}

	/* Homepage */
	#home_banner {margin-bottom: 120px;}
	#home_banner h1 {line-height: 1.5em;}
	#home_banner .home_banner_text {top: 0px;}
	#home_banner .signature {text-align: left;}
	.home_banner_signature {position: auto; top: 0px;}
	.home_banner_info_box {
		background-color: white;
		padding: 20px;
		width: 80%;
		margin: 0 auto;
		text-align: left;
		position: relative;
		top: 340px;
	}

}

@media all and (max-width: 900px) {
	#nav-trigger {display: block; margin-bottom: 30px;}
	div#menu {display: none;}
	nav#nav-mobile {display: block;}
}
